In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
cars_data = pd.read_csv('quikr_car.csv')

In [3]:
cars_data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
cars_data.shape

(892, 6)

In [5]:
cars_data.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [6]:
cars_data.dropna(inplace=True)

In [7]:
cars_data.shape

(837, 6)

In [8]:
cars_data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"2,70,000","50,000 kms",Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,"1,10,000","30,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel

In [9]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    object
 3   Price       837 non-null    object
 4   kms_driven  837 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 78.1+ KB

In [10]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("======================")

Unique values of name
['Hyundai Santro Xing XO eRLX Euro III' 'Mahindra Jeep CL550 MDI'
 'Maruti Suzuki Alto 800 Vxi' 'Hyundai Grand i10 Magna 1.2 Kappa VTVT'
 'Ford EcoSport Titanium 1.5L TDCi' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente 1.5L TDCi' 'Maruti Suzuki Alto K10 VXi AMT'
 'Skoda Fabia Classic 1.2 MPI' 'Maruti Suzuki Stingray VXi'
 'Hyundai Elite i20 Magna 1.2' 'Mahindra Scorpio SLE BS IV' 'Audi A8'
 'Audi Q7' 'Mahindra Scorpio S10' 'Maruti Suzuki Alto 800'
 'Hyundai i20 Sportz 1.2' 'Maruti Suzuki Alto 800 Lx'
 'Maruti Suzuki Vitara Brezza ZDi' 'Maruti Suzuki Alto LX'
 'Mahindra Bolero DI' 'Maruti Suzuki Swift Dzire ZDi'
 'Mahindra Scorpio S10 4WD' 'Maruti Suzuki Swift Vdi BSIII'
 'Maruti Suzuki Wagon R VXi BS III' 'Maruti Suzuki Wagon R VXi Minor'
 'Toyota Innova 2.0 G 8 STR BS IV' 'Renault Lodgy 85 PS RXL'
 'Skoda Yeti Ambition 2.0 TDI CR 4x2' 'Maruti Suzuki Baleno Delta 1.2'
 'Renault Duster 110 PS RxZ Diesel Plus' 'Renault Duster 85 PS RxE Diesel'
 'Honda City 1.5 S MT' 'Maruti Suzuki Dzire' 'Honda Amaze'
 'Honda Amaze 1.5 SX i DTEC' 'Honda City' 'Datsun Redi GO S'
 'Maruti Suzuki SX4 ZXI MT' 'Mitsubishi Pajero Sport Limited Edition'
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV' 'Honda City ZX CVT'
 'Maruti Suzuki Wagon R LX BS IV' 'Tata Indigo eCS LS CR4 BS IV'
 'Volkswagen Polo Highline Exquisite P' 'Chevrolet Spark LS 1.0'
 'Renault Duster 110PS Diesel RxZ' 'Mini Cooper S 1.6'
 'Skoda Fabia 1.2L Diesel Ambiente' 'Renault Duster' 'Mahindra Scorpio S4'
 'Mahindra Scorpio VLX 2WD BS IV' 'Mahindra Quanto C8' 'Ford EcoSport'
 'Honda Brio' 'Volkswagen Vento Highline Plus 1.5 Diesel AT'
 'Hyundai i20 Magna' 'Toyota Corolla Altis Diesel D4DG'
 'Hyundai Verna Transform SX VTVT' 'Toyota Corolla Altis Petrol Ltd'
 'Honda City 1.5 EXi New' 'Skoda Fabia 1.2L Diesel Elegance'
 'BMW 3 Series 320i' 'Maruti Suzuki A Star Lxi' 'Toyota Etios GD'
 'Ford Figo Diesel EXI Option' 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV'
 'Chevrolet Beat LT Diesel' 'BMW 7 Series 740Li Sedan'
 'Mahindra XUV500 W8 AWD 2013' 'Hyundai i10 Magna 1.2'
 'Hyundai Verna Fluidic New' 'Maruti Suzuki Swift VXi 1.2 BS IV'
 'Maruti Suzuki Ertiga ZXI Plus' 'Maruti Suzuki Ertiga Vxi'
 'Maruti Suzuki Ertiga VDi' 'Maruti Suzuki Alto LXi BS III'
 'Hyundai Grand i10 Asta 1.1 CRDi' 'Honda Amaze 1.2 S i VTEC'
 'Hyundai i20 Asta 1.4 CRDI 6 Speed' 'Ford Figo Diesel EXI'
 'Maruti Suzuki Eeco 5 STR WITH AC HTR' 'Maruti Suzuki Ertiga ZXi'
 'Maruti Suzuki Esteem LXi BS III' 'Maruti Suzuki Ritz VXI'
 'Maruti Suzuki Ritz LDi' 'Maruti Suzuki Dzire VDI' 'Toyota Etios Liva G'
 'Hyundai i20 Sportz 1.4 CRDI' 'Chevrolet Spark' 'Nissan Micra XV'
 'Maruti Suzuki Swift' 'Honda Amaze 1.5 S i DTEC' 'Chevrolet Beat'
 'Honda City 1.5 V MT' 'Ford EcoSport Trend 1.5L TDCi'
 'Hyundai i20 Asta 1.2' 'Tata Indica V2 eLS' 'Maruti Suzuki Alto 800 Lxi'
 'Hindustan Motors Ambassador' 'Toyota Corolla Altis 1.8 GL'
 'Toyota Corolla Altis 1.8 J' 'Toyota Innova 2.5 GX BS IV 7 STR'
 'Volkswagen Jetta Highline TDI AT' 'Volkswagen Polo Comfortline 1.2L P'
 'Volkswagen Polo' 'Mahindra Scorpio' 'Nissan Sunny' 'Hyundai Elite i20'
 'Renault Kwid' 'Mahindra Scorpio VLX Airbag' 'Chevrolet Spark LT 1.0'
 'Datsun Redi GO T O' 'Maruti Suzuki Swift RS VDI'
 'Fiat Punto Emotion 1.2' 'Hyundai i10 Sportz 1.2'
 'Chevrolet Beat LT Opt Diesel' 'Chevrolet Beat LS Diesel'
 'Tata Indigo CS' 'Maruti Suzuki Swift VDi' 'Hyundai Eon Era Plus'
 'Mahindra XUV500' 'Ford Fiesta' 'Maruti Suzuki Wagon R' 'Hyundai i20'
 'Tata Indigo eCS LX TDI BS III' 'Hyundai Fluidic Verna 1.6 CRDi SX'
 'Fiat Petra ELX 1.2 PS' 'Hyundai Santro Xing XS'
 'Maruti Suzuki Ciaz VXi Plus' 'Maruti Suzuki Zen VX'
 'Hyundai Creta 1.6 SX Plus Petrol' 'Mahindra Scorpio SLX'
 'Toyota Innova 2.5 G BS III 8 STR' 'Maruti Suzuki Wagon R LXI BS IV'
 'Tata Nano Cx BSIV' 'Maruti Suzuki Alto Std BS IV'
 'Maruti Suzuki Wagon R LXi BS III' 'Maruti Suzuki Swift VXI BSIII'
 'Tata Sumo Victa EX 10 by 7 Str BSIII'
 'Volkswagen Passat Diesel Comfortline AT'
 'Renault Scala RxL Diesel Travelogue'
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT' 'Hyundai i20 Active 1.2 SX'
 'Mahindra Xylo E4' 'Mahindra Jeep MM 550 XDB' 'Mahindra Bolero SLE BS IV'
 'Force Motors Force One LX ABS 7 STR' 'Maruti Suzuki SX4' 'Toyota Etios'
 'Honda City ZX VTEC' 'Maruti Suzuki Wagon R LX BS III'
 'Honda City VX O MT Diesel' 'Mahindra Thar CRDe 4x4 AC'
 'Audi A4 1.8 TFSI Multitronic Premium Plus'
 'Mercedes Benz GLA Class 200 CDI Sport' 'Land Rover Freelander 2 SE'
 'Renault Kwid RXT' 'Tata Aria Pleasure 4X2'
 'Mercedes Benz B Class B180 Sports' 'Datsun GO T O' 'Honda Jazz VX MT'
 'Hyundai i20 Active 1.4L SX O' 'Mini Cooper S'
 'Maruti Suzuki Ciaz ZXI Plus' 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz'
 'Tata Sumo Gold Select Variant' 'Maruti Suzuki Wagon R 1.0'
 'Maruti Suzuki Esteem VXi BS III' 'Chevrolet Enjoy 1.4 LS 8 STR'
 'Maruti Suzuki Wagon R 1.0 VXi' 'Nissan Terrano XL D Plus'
 'Renault Duster 85 PS RxL Diesel' 'Maruti Suzuki Dzire ZXI'
 'Renault Kwid RXT Opt' 'Maruti Suzuki Maruti 800 Std'
 'Renault Kwid 1.0 RXT AMT' 'Renault Scala RxL Diesel'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O' 'Chevrolet Beat LS Petrol'
 'Hyundai Accent GLX' 'Maruti Suzuki Swift LDi' 'Mahindra TUV300 T4 Plus'
 'Tata Indica V2 Xeta e GLE' 'Tata Indigo CS LS DiCOR'
 'Mahindra Scorpio VLX Special Edition BS III' 'Tata Indica eV2 LS'
 'Honda Accord' 'Ford EcoSport Titanium 1.5 TDCi' 'Maruti Suzuki Ertiga'
 'Mahindra Scorpio 2.6 CRDe' 'Honda Mobilio' 'Toyota Corolla Altis'
 'Skoda Laura' 'Hyundai Verna Fluidic' 'Maruti Suzuki Vitara Brezza'
 'Tata Manza Aura Quadrajet' 'Chevrolet Sail UVA Petrol LT ABS'
 'Hyundai Verna Fluidic 1.6 VTVT SX' 'Audi A4 2.0 TDI 177bhp Premium'
 'Hyundai Elantra SX' 'Mahindra Scorpio VLX 4WD Airbag'
 'Mahindra KUV100 K8 D 6 STR' 'Hyundai Grand i10' 'Hyundai i10'
 'Hyundai i20 Active' 'Datsun Redi GO' 'Toyota Etios Liva'
 'Hyundai Accent' 'Hyundai Verna' 'Toyota Fortuner' 'Hyundai i10 Sportz'
 'Mahindra Bolero Power Plus SLE' 'Honda City 1.5 V MT Exclusive'
 'Chevrolet Spark LT 1.0 Airbag' 'Tata Indigo eCS VX CR4 BS IV'
 'Skoda Rapid Elegance 1.6 TDI CR MT' 'Tata Vista Quadrajet VX'
 'Maruti Suzuki Alto K10 VXi AT' 'Maruti Suzuki Zen LXi BS III'
 'Maruti Suzuki Swift Dzire Tour LDi' 'Honda City ZX EXi'
 'Chevrolet Beat Diesel' 'Hyundai Verna 1.4 VTVT'
 'Toyota Innova 2.5 E MS 7 STR BS IV'
 'Maruti Suzuki Maruti 800 Std – Befo' 'Hyundai Elite i20 Asta 1.4 CRDI'
 'Maruti Suzuki Versa DX2 8 SEATER BSIII' 'Tata Indigo LX TDI BS III'
 'Volkswagen Vento Konekt Diesel Highline'
 'Mercedes Benz C Class 200 CDI Classic' 'Hyundai Santro Xing GLS'
 'Maruti Suzuki Omni Limited Edition'
 'Hyundai Sonata Transform 2.4 GDi MT' 'Hyundai Elite i20 Sportz 1.2'
 'Honda Jazz S MT' 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT'
 'Maruti Suzuki Zen LXi BSII' 'Mahindra Scorpio W Turbo 2.6DX 9 Seater'
 'Maruti Suzuki Alto K10 VXi' 'Hyundai Grand i10 Asta 1.2 Kappa VTVT'
 'Mahindra XUV500 W8' 'Hyundai i20 Magna O 1.2'
 'Renault Duster 85 PS RxL Explore LE' 'Honda Brio V MT'
 'Mahindra TUV300 T8' 'Nissan X Trail Select Variant'
 'Ford Ikon 1.3 CLXi NXt Finesse' 'Toyota Fortuner 3.0 4x4 MT'
 'Tata Manza ELAN Quadrajet' 'Mercedes Benz A Class A 180 Sport Petrol'
 'Tata Indigo LS' 'Hyundai i20 Magna 1.2' 'Honda Amaze 1.5 E i DTEC'
 'Hyundai Verna 1.6 EX VTVT' 'BMW 5 Series 520d Sedan'
 'Skoda Superb 1.8 TFSI AT' 'Audi Q3 2.0 TDI quattro Premium'
 'Mahindra Bolero DI BSII' 'Maruti Suzuki Zen Estilo LXI Green CNG'
 'Ford Figo Duratorq Diesel Titanium 1.4'
 'Maruti Suzuki Wagon R VXI BS IV' 'Mahindra Logan Diesel 1.5 DLS'
 'Tata Nano GenX XMA' 'Honda City SV' 'Ford Figo Petrol LXI'
 'Hyundai i10 Magna 1.2 Kappa2' 'Toyota Corolla H2'
 'Maruti Suzuki Swift Dzire Tour VXi' 'Tata Indigo CS eLS BS IV'
 'Hyundai Xcent Base 1.1 CRDi' 'Hyundai Accent Executive Edition'
 'Tata Zest XE 75 PS Diesel' 'Maruti Suzuki Dzire LDI'
 'Tata Sumo Gold LX BS IV' 'Toyota Corolla Altis GL Petrol'
 'Maruti Suzuki Eeco 7 STR' 'Toyota Fortuner 3.0 4x2 MT'
 'Mahindra XUV500 W6' 'Tata Tigor Revotron XZ' 'Maruti Suzuki 800'
 'Honda Mobilio S i DTEC' 'Hyundai Verna 1.6 CRDI E'
 'Maruti Suzuki Omni Select Variant' 'Tata Indica' 'Hyundai Santro Xing'
 'Maruti Suzuki Zen Estilo' 'Honda Brio VX AT'
 'Maruti Suzuki Wagon R Select Variant' 'Tata Nano Lx BSIV'
 'Jaguar XE XE Portfolio' 'Hyundai Xcent S 1.2' 'Hyundai Eon Magna Plus'
 'Maruti Suzuki Ritz GENUS VXI'
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT' 'Hyundai Eon D Lite Plus'
 'Honda Amaze 1.2 VX i VTEC' 'Maruti Suzuki Estilo VXi ABS BS IV'
 'Maruti Suzuki Vitara Brezza LDi O' 'Toyota Innova 2.0 V'
 'Hyundai Creta 1.6 SX Plus Petrol AT' 'Mahindra Scorpio Vlx BSIV'
 'Mitsubishi Lancer 1.8 LXi' 'Maruti Suzuki Maruti 800 AC'
 'Maruti Suzuki Alto 800 LXI CNG O' 'Ford Fiesta SXi 1.6 ABS'
 'Maruti Suzuki Ritz VDi' 'Maruti Suzuki Estilo LX BS IV'
 'Audi A6 2.0 TDI Premium' 'Maruti Suzuki Alto'
 'Maruti Suzuki Baleno Sigma 1.2' 'Hyundai Verna 1.6 SX VTVT AT'
 'Maruti Suzuki Swift GLAM' 'Hyundai Getz Prime 1.3 GVS' 'Hyundai Santro'
 'Hyundai Getz Prime 1.3 GLX' 'Chevrolet Beat PS Diesel'
 'Ford EcoSport Trend 1.5 Ti VCT' 'Tata Indica V2 DLG'
 'BMW X1 xDrive20d xLine' 'Honda City 1.5 V AT' 'Tata Nano'
 'Chevrolet Cruze LTZ AT' 'Maruti Suzuki Swift Dzire VDi'
 'Mahindra XUV500 W10' 'Maruti Suzuki Alto K10 LXi CNG'
 'Hyundai Accent GLE' 'Force Motors One SUV' 'Datsun Go Plus T O'
 'Chevrolet Spark 1.0 LT' 'Toyota Etios Liva GD'
 'Renault Duster 85PS Diesel RxL Optional with Nav' 'Chevrolet Enjoy'
 'BMW 5 Series 530i' 'Chevrolet Cruze LTZ'
 'Jeep Wrangler Unlimited 4x4 Diesel' 'Hyundai Verna VGT CRDi SX ABS'
 'Maruti Suzuki Omni' 'Maruti Suzuki Celerio VDi'
 'Tata Zest Quadrajet 1.3' 'Tata Indigo CS eLX BS IV' 'Hyundai i10 Era'
 'Tata Indigo eCS LX CR4 BS IV' 'Tata Indigo Marina LS'
 'Hyundai Xcent SX 1.2' 'Tata Nano LX Special Edition'
 'Renault Duster 110 PS RxZ Diesel' 'Maruti Suzuki Wagon R AX BSIV'
 'Maruti Suzuki Alto K10 New' 'Mahindra Xylo E8'
 'Tata Manza Aqua Quadrajet' 'Renault Kwid 1.0' 'Tata Venture EX 8 STR'
 'Maruti Suzuki Swift Dzire Tour LXi' 'Maruti Suzuki Alto LX BSII'
 'Skoda Octavia Classic 1.9 TDI MT' 'Maruti Suzuki Omni LPG BS IV'
 'Tata Sumo Gold EX BS IV' 'Hyundai Verna 1.6 CRDI SX'
 'Mahindra Scorpio SLX 2.6 Turbo 8 Str' 'Ford Ikon 1.6 Nxt'
 'Toyota Innova 2.5 V 7 STR' 'Nissan Sunny XL'
 'Maruti Suzuki Swift VDi BS IV' 'Toyota Innova 2.0 G4'
 'Maruti Suzuki Swift VDi ABS' 'Hyundai Elite i20 Asta 1.2'
 'Volkswagen Polo Trendline 1.5L D' 'Toyota Etios Liva Diesel'
 'Maruti Suzuki Ciaz ZXi Plus RS' 'Hyundai Elantra 1.8 S'
 'Ford EcoSport Trend 1.5L Ti VCT' 'Jaguar XF 2.2 Diesel Luxury'
 'Audi Q5 2.0 TDI quattro Premium Plus' 'BMW 3 Series 320d Sedan'
 'Maruti Suzuki Swift ZXi 1.2 BS IV' 'BMW X1 sDrive20d'
 'Maruti Suzuki S Cross Sigma 1.3' 'Maruti Suzuki Ertiga LDi'
 'Volkswagen Vento Comfortline Petrol' 'Mahindra KUV100'
 'Maruti Suzuki Swift Dzire Tour VDi' 'Mahindra Scorpio 2.6 SLX'
 'Maruti Suzuki Omni 8 STR BS III'
 'Volkswagen Jetta Comfortline 1.9 TDI AT' 'Volvo S80 Summum D4'
 'Toyota Corolla Altis VL AT Petrol' 'Mitsubishi Pajero Sport 2.5 AT'
 'Chevrolet Beat LT Petrol' 'BMW X1'
 'Mercedes Benz C Class C 220 CDI Avantgarde'
 'Volkswagen Vento Comfortline Diesel' 'Tata Indigo CS GLS'
 'Ford Figo Petrol Titanium' 'Honda City ZX GXi'
 'Maruti Suzuki Wagon R Duo Lxi' 'Maruti Suzuki Zen LX BSII'
 'Renault Duster RxL Petrol' 'Maruti Suzuki Baleno Zeta 1.2'
 'Honda WR V S MT Petrol' 'Renault Duster 110 PS RxL Diesel'
 'Mahindra Scorpio LX BS III' 'Maruti Suzuki SX4 Celebration Diesel'
 'Audi A3 Cabriolet 40 TFSI' 'Hyundai Santro AE GLS Audio'
 'Mahindra Xylo D2 BS IV' 'Hyundai Getz GLE' 'Hyundai Creta 1.6 SX'
 'Hyundai Santro Xing XL AT eRLX Euro III'
 'Hyundai Santro Xing XL eRLX Euro III' 'Tata Indica V2 DLS BS III'
 'Honda City 1.5 E MT' 'Nissan Micra XL' 'Honda City 1.5 S Inspire'
 'Tata Indica eV2 eXeta eGLX' 'Maruti Suzuki Omni E 8 STR BS IV'
 'Hyundai Verna 1.6 CRDI SX Plus AT'
 'Chevrolet Tavera LS B3 10 Seats BSII' 'Tata Tiago Revotron XM'
 'Tata Tiago Revotorq XZ' 'Tata Nexon'
 'Hindustan Motors Ambassador Classic Mark 4 – Befo'
 'Ford Fusion 1.4 TDCi Diesel' 'Fiat Linea Emotion 1.4 L T Jet Petrol'
 'Ford Ikon 1.3 Flair Josh 100' 'Tata Indica V2 LS' 'Mahindra Xylo D2'
 'Toyota Corolla' 'Hyundai Eon Magna' 'Tata Sumo Grande MKII GX'
 'Volkswagen Polo Highline1.2L P' 'Tata Tiago Revotron XZ'
 'Tata Indigo eCS' 'Mahindra Xylo E8 BS IV' 'Tata Sumo Gold FX BSIII'
 'Hyundai Creta' 'Tata Bolt XM Petrol' 'Hyundai Venue'
 'Maruti Suzuki Ritz' 'Renault Lodgy' 'Hyundai i20 Asta'
 'Maruti Suzuki Swift Select Variant' 'Tata Indica V2 DLX BS III'
 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV' 'Toyota Innova 2.5 E 8 STR'
 'Mahindra KUV100 K8 6 STR' 'Datsun Go Plus'
 'Ford Endeavor 4x4 Thunder Plus' 'Tata Indica V2'
 'Hyundai Santro Xing GL' 'Toyota Innova 2.5 Z Diesel 7 Seater'
 'Maruti Suzuki Alto AX' 'Mahindra Logan' 'Maruti Suzuki 800 Std BS III'
 'Chevrolet Sail 1.2 LS' 'Volkswagen Vento Highline Plus 1.5 Diesel'
 'Tata Manza' 'Toyota Innova 2.0 G1 Petrol 8seater' 'Toyota Etios G'
 'Toyota Qualis' 'Mahindra Quanto C4' 'Maruti Suzuki Swift Dzire'
 'Hyundai i20 Select Variant' 'Honda City VX Petrol' 'Hyundai Getz'
 'Mercedes Benz C Class 200 K MT' 'Skoda Fabia'
 'Maruti Suzuki Alto 800 Select Variant' 'Maruti Suzuki Ritz VXI ABS'
 'Tata Indica V2 DLE BS III' 'Tata Zest XM Diesel']
======================
Unique values of company
['Hyundai' 'Mahindra' 'Maruti' 'Ford' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']
======================
Unique values of year
['2007' '2006' '2018' '2014' '2015' '2012' '2013' '2016' '2010' '2017'
 '2008' '2011' '2019' '2009' '2005' '2000' '2003' '2004' '1995' '2002'
 '2001']
======================
Unique values of Price
['80,000' '4,25,000' 'Ask For Price' '3,25,000' '5,75,000' '1,75,000'
 '1,90,000' '8,30,000' '2,50,000' '1,82,000' '3,15,000' '4,15,000'
 '3,20,000' '10,00,000' '5,00,000' '3,50,000' '1,60,000' '3,10,000'
 '75,000' '1,00,000' '2,90,000' '95,000' '1,80,000' '3,85,000' '1,05,000'
 '6,50,000' '6,89,999' '4,48,000' '5,49,000' '5,01,000' '4,89,999'
 '2,80,000' '3,49,999' '2,84,999' '3,45,000' '4,99,999' '2,35,000'
 '2,49,999' '14,75,000' '3,95,000' '2,20,000' '1,70,000' '85,000'
 '2,00,000' '5,70,000' '1,10,000' '4,48,999' '18,91,111' '1,59,500'
 '3,44,999' '4,49,999' '8,65,000' '6,99,000' '3,75,000' '2,24,999'
 '12,00,000' '1,95,000' '3,51,000' '2,40,000' '90,000' '1,55,000'
 '6,00,000' '1,89,500' '2,10,000' '3,90,000' '1,35,000' '16,00,000'
 '7,01,000' '2,65,000' '5,25,000' '3,72,000' '6,35,000' '5,50,000'
 '4,85,000' '3,29,500' '2,51,111' '5,69,999' '69,999' '2,99,999'
 '3,99,999' '4,50,000' '2,70,000' '1,58,400' '1,79,000' '1,25,000'
 '2,99,000' '1,50,000' '2,85,000' '3,40,000' '70,000' '2,89,999'
 '8,49,999' '7,49,999' '2,74,999' '9,84,999' '5,99,999' '2,44,999'
 '4,74,999' '2,45,000' '1,69,500' '2,75,000' '3,70,000' '1,68,000'
 '1,45,000' '98,500' '2,09,000' '1,85,000' '9,00,000' '6,99,999'
 '1,99,999' '5,44,999' '1,99,000' '5,40,000' '49,000' '7,00,000' '55,000'
 '8,95,000' '3,55,000' '5,65,000' '3,65,000' '40,000' '4,00,000'
 '3,30,000' '5,80,000' '3,79,000' '2,19,000' '5,19,000' '7,30,000'
 '20,00,000' '21,00,000' '14,00,000' '3,11,000' '8,55,000' '5,35,000'
 '1,78,000' '3,00,000' '2,55,000' '5,49,999' '3,80,000' '57,000'
 '4,10,000' '2,25,000' '1,20,000' '59,000' '5,99,000' '6,75,000' '72,500'
 '6,10,000' '2,30,000' '5,20,000' '5,24,999' '4,24,999' '6,44,999'
 '5,84,999' '7,99,999' '4,44,999' '6,49,999' '9,44,999' '5,74,999'
 '3,74,999' '1,30,000' '4,01,000' '13,50,000' '1,74,999' '2,39,999'
 '99,999' '3,24,999' '10,74,999' '11,30,000' '1,49,000' '7,70,000'
 '30,000' '3,35,000' '3,99,000' '65,000' '1,69,999' '1,65,000' '5,60,000'
 '9,50,000' '7,15,000' '45,000' '9,40,000' '1,55,555' '15,00,000'
 '4,95,000' '8,00,000' '12,99,000' '5,30,000' '14,99,000' '32,000'
 '4,05,000' '7,60,000' '7,50,000' '4,19,000' '1,40,000' '15,40,000'
 '1,23,000' '4,98,000' '4,80,000' '4,88,000' '15,25,000' '5,48,900'
 '7,25,000' '99,000' '52,000' '28,00,000' '4,99,000' '3,81,000' '2,78,000'
 '6,90,000' '2,60,000' '90,001' '1,15,000' '15,99,000' '1,59,000' '51,999'
 '2,15,000' '35,000' '11,50,000' '2,69,000' '60,000' '4,30,000'
 '85,00,003' '4,01,919' '4,90,000' '4,24,000' '2,05,000' '5,49,900'
 '4,35,000' '1,89,700' '3,89,700' '3,60,000' '2,95,000' '1,14,990'
 '10,65,000' '4,70,000' '48,000' '1,88,000' '4,65,000' '1,79,999'
 '21,90,000' '23,90,000' '10,75,000' '4,75,000' '10,25,000' '6,15,000'
 '19,00,000' '14,90,000' '15,10,000' '18,50,000' '7,90,000' '17,25,000'
 '12,25,000' '68,000' '9,70,000' '31,00,000' '8,99,000' '88,000' '53,000'
 '5,68,500' '71,000' '5,90,000' '7,95,000' '42,000' '1,89,000' '1,62,000'
 '35,999' '29,00,000' '39,999' '50,500' '5,10,000' '8,60,000' '5,00,001']
======================
Unique values of kms_driven
['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '24,330 kms'
 '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms' '2,800 kms'
 '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms' '7,000 kms'
 '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms' '45,872 kms'
 '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms' '31,000 kms'
 '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms' '75,000 kms'
 '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms' '34,580 kms'
 '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms' '5,000 kms'
 '588 kms' '71,200 kms' '1,75,400 kms' '9,300 kms' '56,758 kms'
 '10,000 kms' '56,450 kms' '56,000 kms' '32,700 kms' '9,000 kms' '73 kms'
 '1,60,000 kms' '84,000 kms' '58,559 kms' '57,000 kms' '1,70,000 kms'
 '80,000 kms' '6,821 kms' '23,000 kms' '34,000 kms' '1,800 kms'
 '4,00,000 kms' '48,000 kms' '90,000 kms' '12,000 kms' '69,900 kms'
 '1,66,000 kms' '122 kms' '0 kms' '24,000 kms' '36,469 kms' '7,800 kms'
 '24,695 kms' '15,141 kms' '59,910 kms' '1,00,000 kms' '4,500 kms'
 '1,29,000 kms' '300 kms' '1,31,000 kms' '1,11,111 kms' '59,466 kms'
 '25,500 kms' '44,005 kms' '2,110 kms' '43,222 kms' '1,00,200 kms'
 '65 kms' '1,40,000 kms' '1,03,553 kms' '58,000 kms' '1,20,000 kms'
 '49,800 kms' '100 kms' '81,876 kms' '6,020 kms' '55,700 kms' '18,500 kms'
 '1,80,000 kms' '53,000 kms' '35,500 kms' '22,134 kms' '1,000 kms'
 '8,500 kms' '87,000 kms' '6,000 kms' '15,574 kms' '8,000 kms'
 '55,800 kms' '56,400 kms' '72,160 kms' '11,500 kms' '1,33,000 kms'
 '2,000 kms' '88,000 kms' '65,422 kms' '1,17,000 kms' '1,50,000 kms'
 '10,750 kms' '6,800 kms' '5 kms' '9,800 kms' '57,923 kms' '30,201 kms'
 '6,200 kms' '37,518 kms' '24,652 kms' '383 kms' '95,000 kms' '3,528 kms'
 '52,500 kms' '47,900 kms' '52,800 kms' '1,95,000 kms' '48,008 kms'
 '48,247 kms' '9,400 kms' '64,000 kms' '2,137 kms' '10,544 kms'
 '49,500 kms' '1,47,000 kms' '90,001 kms' '48,006 kms' '74,000 kms'
 '85,000 kms' '29,500 kms' '39,700 kms' '67,000 kms' '19,336 kms'
 '60,105 kms' '45,933 kms' '1,02,563 kms' '28,600 kms' '41,800 kms'
 '1,16,000 kms' '42,590 kms' '7,400 kms' '54,500 kms' '76,000 kms'
 '00 kms' '11,523 kms' '38,600 kms' '95,500 kms' '37,458 kms' '85,960 kms'
 '12,516 kms' '30,600 kms' '2,550 kms' '62,500 kms' '69,000 kms'

In [11]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [12]:
def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

In [13]:
get_brand_name('Maruti  Swift Dzire VDI')

'Maruti'

In [14]:
cars_data['name'] = cars_data['name'].apply(get_brand_name)

In [15]:
cars_data['name'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [17]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("======================")

Unique values of name
['Hyundai' 'Mahindra' 'Maruti' 'Ford' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']
======================
Unique values of company
['Hyundai' 'Mahindra' 'Maruti' 'Ford' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']
======================
Unique values of year
['2007' '2006' '2018' '2014' '2015' '2012' '2013' '2016' '2010' '2017'
 '2008' '2011' '2019' '2009' '2005' '2000' '2003' '2004' '1995' '2002'
 '2001']
======================
Unique values of Price
['80,000' '4,25,000' 'Ask For Price' '3,25,000' '5,75,000' '1,75,000'
 '1,90,000' '8,30,000' '2,50,000' '1,82,000' '3,15,000' '4,15,000'
 '3,20,000' '10,00,000' '5,00,000' '3,50,000' '1,60,000' '3,10,000'
 '75,000' '1,00,000' '2,90,000' '95,000' '1,80,000' '3,85,000' '1,05,000'
 '6,50,000' '6,89,999' '4,48,000' '5,49,000' '5,01,000' '4,89,999'
 '2,80,000' '3,49,999' '2,84,999' '3,45,000' '4,99,999' '2,35,000'
 '2,49,999' '14,75,000' '3,95,000' '2,20,000' '1,70,000' '85,000'
 '2,00,000' '5,70,000' '1,10,000' '4,48,999' '18,91,111' '1,59,500'
 '3,44,999' '4,49,999' '8,65,000' '6,99,000' '3,75,000' '2,24,999'
 '12,00,000' '1,95,000' '3,51,000' '2,40,000' '90,000' '1,55,000'
 '6,00,000' '1,89,500' '2,10,000' '3,90,000' '1,35,000' '16,00,000'
 '7,01,000' '2,65,000' '5,25,000' '3,72,000' '6,35,000' '5,50,000'
 '4,85,000' '3,29,500' '2,51,111' '5,69,999' '69,999' '2,99,999'
 '3,99,999' '4,50,000' '2,70,000' '1,58,400' '1,79,000' '1,25,000'
 '2,99,000' '1,50,000' '2,85,000' '3,40,000' '70,000' '2,89,999'
 '8,49,999' '7,49,999' '2,74,999' '9,84,999' '5,99,999' '2,44,999'
 '4,74,999' '2,45,000' '1,69,500' '2,75,000' '3,70,000' '1,68,000'
 '1,45,000' '98,500' '2,09,000' '1,85,000' '9,00,000' '6,99,999'
 '1,99,999' '5,44,999' '1,99,000' '5,40,000' '49,000' '7,00,000' '55,000'
 '8,95,000' '3,55,000' '5,65,000' '3,65,000' '40,000' '4,00,000'
 '3,30,000' '5,80,000' '3,79,000' '2,19,000' '5,19,000' '7,30,000'
 '20,00,000' '21,00,000' '14,00,000' '3,11,000' '8,55,000' '5,35,000'
 '1,78,000' '3,00,000' '2,55,000' '5,49,999' '3,80,000' '57,000'
 '4,10,000' '2,25,000' '1,20,000' '59,000' '5,99,000' '6,75,000' '72,500'
 '6,10,000' '2,30,000' '5,20,000' '5,24,999' '4,24,999' '6,44,999'
 '5,84,999' '7,99,999' '4,44,999' '6,49,999' '9,44,999' '5,74,999'
 '3,74,999' '1,30,000' '4,01,000' '13,50,000' '1,74,999' '2,39,999'
 '99,999' '3,24,999' '10,74,999' '11,30,000' '1,49,000' '7,70,000'
 '30,000' '3,35,000' '3,99,000' '65,000' '1,69,999' '1,65,000' '5,60,000'
 '9,50,000' '7,15,000' '45,000' '9,40,000' '1,55,555' '15,00,000'
 '4,95,000' '8,00,000' '12,99,000' '5,30,000' '14,99,000' '32,000'
 '4,05,000' '7,60,000' '7,50,000' '4,19,000' '1,40,000' '15,40,000'
 '1,23,000' '4,98,000' '4,80,000' '4,88,000' '15,25,000' '5,48,900'
 '7,25,000' '99,000' '52,000' '28,00,000' '4,99,000' '3,81,000' '2,78,000'
 '6,90,000' '2,60,000' '90,001' '1,15,000' '15,99,000' '1,59,000' '51,999'
 '2,15,000' '35,000' '11,50,000' '2,69,000' '60,000' '4,30,000'
 '85,00,003' '4,01,919' '4,90,000' '4,24,000' '2,05,000' '5,49,900'
 '4,35,000' '1,89,700' '3,89,700' '3,60,000' '2,95,000' '1,14,990'
 '10,65,000' '4,70,000' '48,000' '1,88,000' '4,65,000' '1,79,999'
 '21,90,000' '23,90,000' '10,75,000' '4,75,000' '10,25,000' '6,15,000'
 '19,00,000' '14,90,000' '15,10,000' '18,50,000' '7,90,000' '17,25,000'
 '12,25,000' '68,000' '9,70,000' '31,00,000' '8,99,000' '88,000' '53,000'
 '5,68,500' '71,000' '5,90,000' '7,95,000' '42,000' '1,89,000' '1,62,000'
 '35,999' '29,00,000' '39,999' '50,500' '5,10,000' '8,60,000' '5,00,001']
======================
Unique values of kms_driven
['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '24,330 kms'
 '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms' '2,800 kms'
 '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms' '7,000 kms'
 '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms' '45,872 kms'
 '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms' '31,000 kms'
 '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms' '75,000 kms'
 '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms' '34,580 kms'
 '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms' '5,000 kms'
 '588 kms' '71,200 kms' '1,75,400 kms' '9,300 kms' '56,758 kms'
 '10,000 kms' '56,450 kms' '56,000 kms' '32,700 kms' '9,000 kms' '73 kms'
 '1,60,000 kms' '84,000 kms' '58,559 kms' '57,000 kms' '1,70,000 kms'
 '80,000 kms' '6,821 kms' '23,000 kms' '34,000 kms' '1,800 kms'
 '4,00,000 kms' '48,000 kms' '90,000 kms' '12,000 kms' '69,900 kms'
 '1,66,000 kms' '122 kms' '0 kms' '24,000 kms' '36,469 kms' '7,800 kms'
 '24,695 kms' '15,141 kms' '59,910 kms' '1,00,000 kms' '4,500 kms'
 '1,29,000 kms' '300 kms' '1,31,000 kms' '1,11,111 kms' '59,466 kms'
 '25,500 kms' '44,005 kms' '2,110 kms' '43,222 kms' '1,00,200 kms'
 '65 kms' '1,40,000 kms' '1,03,553 kms' '58,000 kms' '1,20,000 kms'
 '49,800 kms' '100 kms' '81,876 kms' '6,020 kms' '55,700 kms' '18,500 kms'
 '1,80,000 kms' '53,000 kms' '35,500 kms' '22,134 kms' '1,000 kms'
 '8,500 kms' '87,000 kms' '6,000 kms' '15,574 kms' '8,000 kms'
 '55,800 kms' '56,400 kms' '72,160 kms' '11,500 kms' '1,33,000 kms'
 '2,000 kms' '88,000 kms' '65,422 kms' '1,17,000 kms' '1,50,000 kms'
 '10,750 kms' '6,800 kms' '5 kms' '9,800 kms' '57,923 kms' '30,201 kms'
 '6,200 kms' '37,518 kms' '24,652 kms' '383 kms' '95,000 kms' '3,528 kms'
 '52,500 kms' '47,900 kms' '52,800 kms' '1,95,000 kms' '48,008 kms'
 '48,247 kms' '9,400 kms' '64,000 kms' '2,137 kms' '10,544 kms'
 '49,500 kms' '1,47,000 kms' '90,001 kms' '48,006 kms' '74,000 kms'
 '85,000 kms' '29,500 kms' '39,700 kms' '67,000 kms' '19,336 kms'
 '60,105 kms' '45,933 kms' '1,02,563 kms' '28,600 kms' '41,800 kms'
 '1,16,000 kms' '42,590 kms' '7,400 kms' '54,500 kms' '76,000 kms'
 '00 kms' '11,523 kms' '38,600 kms' '95,500 kms' '37,458 kms' '85,960 kms'
 '12,516 kms' '30,600 kms' '2,550 kms' '62,500 kms' '69,000 kms'
 '28,400 kms' '68,485 kms' '3,500 kms' '85,455 kms' '63,000 kms'
 '1,600 kms' '77,000 kms' '26,500 kms' '2,875 kms' '13,900 kms'
 '1,500 kms' '2,450 kms' '1,625 kms' '33,400 kms' '60,123 kms'
 '38,900 kms' '1,37,495 kms' '91,200 kms' '1,46,000 kms' '1,00,800 kms'
 '2,100 kms' '2,500 kms' '1,32,000 kms']
======================
Unique values of fuel_type
['Petrol' 'Diesel' 'LPG']
======================

In [47]:
cars_data['name'].replace(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'],
                          [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
                          ,inplace=True)

In [60]:
cars_data['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [67]:
cars_data['company'].replace(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'],
                          [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
                          ,inplace=True)

In [81]:
cars_data['kms_driven']=cars_data['kms_driven'].str.split().str.get(0).str.replace(',','')

In [83]:
car=cars_data[cars_data['kms_driven'].str.isnumeric()]

In [84]:
cars_data['kms_driven']=cars_data['kms_driven'].astype(int)

In [85]:
cars_data=cars_data[cars_data['Price']!='Ask For Price']

In [98]:
cars_data['Price']=cars_data['Price'].str.replace(',','').astype(int)

<ipython-input-98-9afc8f185ae5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data['Price']=cars_data['Price'].str.replace(',','').astype(int)

In [99]:
cars_data['fuel_type'].unique()

array([2, 1, 3])

In [100]:
cars_data['fuel_type'].replace(['Diesel', 'Petrol', 'LPG'],[1,2,3], inplace=True)

<ipython-input-100-43ff80aee090>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data['fuel_type'].replace(['Diesel', 'Petrol', 'LPG'],[1,2,3], inplace=True)

In [101]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     816 non-null    int64
 1   name        816 non-null    int64
 2   company     816 non-null    int64
 3   year        816 non-null    object
 4   Price       816 non-null    int64
 5   kms_driven  816 non-null    int64
 6   fuel_type   816 non-null    int64
dtypes: int64(6), object(1)
memory usage: 44.8+ KB

In [102]:
cars_data.reset_index(inplace=True)

In [103]:
cars_data

     index  level_0  name  company  year   Price  kms_driven  fuel_type
0        0        0     4        1  2007   80000       45000          2
1        1        1     8        2  2006  425000          40          1
2        2        3     4        1  2014  325000       28000          2
3        3        4     6        4  2014  575000       36000          1
4        4        6     6        4  2012  175000       41000          1
..     ...      ...   ...      ...   ...     ...         ...        ...
811    811      832     1        3  2011  270000       50000          2
812    812      833     9       12  2009  110000       30000          1
813    813      834     5        7  2009  300000      132000          2
814    814      835     9       12  2018  260000       27000          1
815    815      836     8        2  2013  390000       40000          1

[816 rows x 8 columns]

In [104]:
cars_data.drop(columns=['index'], inplace=True)

<ipython-input-104-9b20b1e402fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data.drop(columns=['index'], inplace=True)

In [105]:
for col in cars_data.columns:
    print('------------')
    print(col)
    print(cars_data[col].unique())

------------
level_0
[  0   1   3   4   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109
 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218
 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236
 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254
 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272
 273 274 275 276 277 278 279 280 281 282 283 284 285 286 288 289 290 291
 292 293 294 295 297 298 299 300 301 302 303 304 305 306 307 308 309 310
 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346
 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364
 365 366 367 368 369 370 371 372 373 374 375 376 378 379 380 381 382 383
 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401
 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419
 420 421 422 423 424 425 426 427 428 429 430 431 433 434 435 436 437 438
 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456
 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474
 475 476 477 478 479 480 481 482 483 484 485 487 488 489 490 491 492 493
 495 496 497 498 499 500 501 502 503 504 505 506 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 550
 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568
 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586
 587 588 589 590 591 593 594 595 597 598 599 600 601 602 603 604 605 606
 607 608 609 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625
 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643
 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661
 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679
 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697
 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715
 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 733 734
 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752
 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770
 771 773 774 775 777 778 779 780 781 782 783 784 785 786 787 788 789 790
 791 792 793 794 795 796 798 799 800 801 802 804 805 806 807 809 810 811
 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829
 830 832 833 834 835 836]
------------
name
[ 4  8  6  1  2 15  5  7  3 11 14  9 16 10 17 18 32 26 27 21 20 12 23]
------------
company
[ 1  2  4  3  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]
------------
year
['2007' '2006' '2014' '2012' '2013' '2016' '2015' '2010' '2017' '2008'
 '2018' '2011' '2019' '2009' '2005' '2000' '2003' '2004' '1995' '2002'
 '2001']
------------
Price
[  80000  425000  325000  575000  175000  190000  830000  250000  182000
  315000  415000  320000 1000000  500000  350000  160000  310000   75000
  100000  290000   95000  180000  385000  105000  650000  689999  448000
  549000  501000  489999  280000  349999  284999  345000  499999  235000
  249999 1475000  395000  220000  170000   85000  200000  570000  110000
  448999 1891111  159500  344999  449999  865000  699000  375000  224999
 1200000  195000  351000  240000   90000  155000  600000  189500  210000
  390000  135000 1600000  701000  265000  525000  372000  635000  550000
  485000  329500  251111  569999   69999  299999  399999  450000  270000
  158400  179000  125000  299000  150000  285000  340000   70000  289999
  849999  749999  274999  984999  599999  244999  474999  245000  169500
  275000  370000  168000  145000   98500  209000  185000  900000  699999
  199999  544999  199000  540000   49000  700000   55000  895000  355000
  565000  365000   40000  400000  330000  580000  379000  219000  519000
  730000 2000000 2100000 1400000  311000  855000  535000  178000  300000
  255000  549999  380000   57000  410000  225000  120000   59000  599000
  675000   72500  610000  230000  520000  524999  424999  644999  584999
  799999  444999  649999  944999  574999  374999  130000  401000 1350000
  174999  239999   99999  324999 1074999 1130000  149000  770000   30000
  335000  399000   65000  169999  165000  560000  950000  715000   45000
  940000  155555 1500000  495000  800000 1299000  530000 1499000   32000
  405000  760000  750000  419000  140000 1540000  123000  498000  480000
  488000 1525000  548900  725000   99000   52000 2800000  499000  381000
  278000  690000  260000   90001  115000 1599000  159000   51999  215000
   35000 1150000  269000   60000  430000 8500003  401919  490000  424000
  205000  549900  435000  189700  389700  360000  295000  114990 1065000
  470000   48000  188000  465000  179999 2190000 2390000 1075000  475000
 1025000  615000 1900000 1490000 1510000 1850000  790000 1725000 1225000
   68000  970000 3100000  899000   88000   53000  568500   71000  590000
  795000   42000  189000  162000   35999 2900000   39999   50500  510000
  860000  500001]
------------
kms_driven
[ 45000     40  28000  36000  41000  25000  24530  60000  30000  32000
  48660   4000  16934  43000  35550  39522  39000  55000  72000  15975
  70000  23452  35522  48508  15487  82000  20000  68000  38000  27000
  33000  46000  16000  47000  35000  30874  15000  29685 130000  19000
  54000  13000  38200  22000  50000  13500   3600  45863  60500  12500
  18000  13349  29000  44000  42000  14000  49000  36200  51000 104000
  33333  33600   5600   7500  24330  65480 200000  59000  99000   2800
  21000  11000  66000   3000   7000  38500  37200  43200  24800  45872
  40000  11400  97200  52000  31000 175430  37000  65000   3350  75000
  62000  73000   2200  54870  34580  97000     60  80200   3200      0
   5000    588  71200 175400   9300  56758  10000  56450  56000  32700
   9000     73 160000  58559  57000 170000  80000   6821  23000  34000
   1800 400000  48000  90000  12000  69900 166000    122  36469   7800
  24695  15141  59910 100000   4500 129000    300 131000 111111  59466
  25500  44005   2110  43222 100200     65 140000 103553  58000 120000
  49800    100  81876   6020  55700  18500  53000  35500  22134   1000
   8500  87000   6000   8000  55800  56400  72160  11500 133000   2000
  88000  65422 117000 150000  10750   6800   9800  57923  30201   6200
  37518  24652    383  95000   3528  52500  47900  52800 195000  48008
  48247   9400  64000   2137  10544 147000  90001  48006  74000  85000
  29500  39700  67000  19336  60105  45933 102563  28600  41800 116000
  42590   7400  54500  76000  11523  38600  95500  37458  85960  12516
  30600   2550  62500  69000  28400  68485   3500  85455  63000   1600
  77000  26500   2875  13900   1500   2450   1625  33400  60123 137495
  91200 146000 100800   2100   2500 132000]
------------
fuel_type
[2 1 3]

In [120]:
cars_data.drop(columns=['level_0'], inplace=True)

<ipython-input-120-e488d6ed05b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data.drop(columns=['level_0'], inplace=True)

In [136]:
cars_data.drop(columns=['name'], inplace=True)

<ipython-input-136-d8a46b7163fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data.drop(columns=['name'], inplace=True)

In [137]:
cars_data.isnull().sum()

company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [138]:
input_data = cars_data.drop(columns=['Price'])
output_data =cars_data['Price']

In [139]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [140]:
model = LinearRegression()

In [141]:
model.fit(x_train, y_train)

LinearRegression()

In [142]:
predict = model.predict(x_test)

In [143]:
predict

array([ 451950.90015632,  381386.5477662 ,  609968.32502687,
        384115.83550619,  471336.90005918,  602384.87399816,
        264150.75267489,  710311.90604243,  627274.44526546,
        131130.65163032,  294944.52129545,  614903.49531344,
        547639.08155147,  414026.92242276,  959354.9465423 ,
        626810.9114341 ,  495664.9322353 ,  444958.72203799,
        337640.64537805,  460354.44118764,  452779.00021942,
        452583.01042778,  221661.56823667,  511530.08486321,
        677684.67723438,  615500.4748703 ,  133604.84162072,
        558234.09208357,  584990.23347198,  443496.39527588,
        367030.52229933,  127494.67723806,  753146.69704314,
        442336.86068432,  586762.58756657,  514868.46671864,
        270384.24167657,  537908.2628844 ,  686901.45655679,
        576798.52707209,  211385.36999611,  567746.2141325 ,
        571066.32605666,  710854.47518916,  469321.18366309,
        498626.82563525,  547106.77227553,  599531.24572881,
         66335.22822501,  626810.9114341 ,  108862.94171669,
        724427.49124764,  591012.7169769 ,  286694.65820456,
       -168775.76050676,  447285.24066512,  377054.60934143,
        343291.00065136,  326745.23188238,  558081.22108657,
        413344.83136997,  141027.41159193,  659599.79619821,
        398578.58734621,  454244.27680498,  274015.37507388,
        569988.63720723,  475513.19378787,  589234.52774668,
        502497.51676663,  524746.95674898,  386592.27530688,
        546969.18532425,  427491.7207419 ,  461274.19880302,
        469161.00261874,  515479.67191327,  405688.24467278,
        410159.18111484,  301070.36466872,  459887.95753283,
        413574.34847535,  455469.63701767,  449223.94763122,
        742254.86887278,  366877.65130232,  654430.8766499 ,
        587766.44073437,  481465.42693647,  478802.0015453 ,
        106620.51864196,  668173.89070048,  374057.55318203,
        470873.36622781,  678241.79159038,  397365.39550664,
        562418.39587276,  389741.24630275,  255762.85858933,
        422315.15917073,  504486.90449402,  171798.33014965,
        440408.05026741,  131953.69659396,  534116.6070684 ,
        326745.23188238,  388123.23811688,  528551.82225922,
        250508.87601122,  509453.60308303,  187078.64958016,
        342520.38931097,  301383.97732653,  572694.59411331,
         61073.93559955,  237207.90857303,  263111.59287892,
        479204.73393046,  362465.23043407,  722396.99310255,
        335097.81933976,  291876.24775713,  268758.22343021,
        432356.00517029,  486640.51359591,  409237.17368916,
        504110.82761548,  507519.73242907,  330149.43935895,
        602384.87399816,  569988.63720723,  478802.0015453 ,
        862623.73672725,  597976.81335379,  177366.70028415,
        201271.02029046,  637790.55987889,  558350.45928011,
        339814.43240489,  214789.57747268,  522291.03668986,
        347079.07114206,  607559.9606576 ,  441625.40041959,
        570992.49037503,  428271.81705451,  336178.45801263,
        250280.05891899,  626747.33562326,  373059.54095301,
        260637.40288851,  207135.2405858 ,   82182.11092164,
        215870.21614556,  293503.77317086,  512699.87932555,
        489030.6080339 ,  175202.53762622,  364089.84865411,
        558081.22108657,  337264.15692256,   78937.9450927 ,
         70045.03829889, -546264.39645123])

In [144]:
x_train.head(1)

    company  year  kms_driven  fuel_type
95       14  2012       45000          1

In [145]:
input_data_model = pd.DataFrame(
    [[14,2012,45000,1]],
    columns=['company','year','kms_driven','fuel_type'])

In [146]:
input_data_model

   company  year  kms_driven  fuel_type
0       14  2012       45000          1

In [147]:
model.predict(input_data_model)

array([627042.67834979])

In [148]:
import pickle as pk

In [149]:
pk.dump(model,open('model.pkl','wb'))